.container {
    width: 1020px;
    margin: 0 auto;
}

@media all and (max-width: 1020px) {
    .container {
        padding: 0 10px;
        box-sizing: border-box;
        max-width: 100%;
        font-size: 90%;
    }
}
