.container {
    width: 1020px;
    margin: 0 auto;
}

@media all and (max-width: 1024px) {
    .container {
        padding: 0 8px;
        box-sizing: border-box;
        max-width: 100%;

    }
}

@media all and (max-width: 980px) {
    .container {
        font-size: 90%;
    }
}

@media all and (max-width: 768px) {
    .container {
        padding: 0;

    }
}

@media all and (max-width: 640px) {
    .container {
        font-size: 80%;
    }
}

@media all and (max-width: 424px) {
    .container {
        font-size: 50%;
    }
}
