.footer {
    padding: 6px 0 10px;

    text-align: center;

    background-color: #4c4c4c;
    box-shadow: 0 -4px 7px #1a1a1a;
}

.footer__logo {
    display: inline-block;
}

@media all and (max-width: 640px) {
    .footer {
        font-size: 80%;
    }
}

@media all and (max-width: 424px) {
    .footer {
        font-size: 50%;
    }
}
