.footer {
    padding: 4px 0 10px;
    background-color: rgba(76, 76, 76, 1);
    text-align: center;
    box-shadow: 0 -4px 7px rgba(26, 26, 26, 1);
}

.footer__logo-img {
    width: 20%;
}

.footer__logo-name {
    font-size: 1.8em;
}
