@font-face {
    font-family: "Asap Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Asap Regular"), url("../../fonts/Asap Regular/Asap Regular.otf") format("opentype");
}

.header-banner {
    padding: 25px 0 73px;
}

.header-banner__player {
    float: left;

    width: 54%;

    margin-left: 1%;
}

.header-banner__title {
    float: left;
    width: 40%;

    /* padding: 74px 0 0 50px; */
    margin: 7% 2% 3% 3%;
    box-sizing: border-box;

    text-align: center;

    color: #ffffff;

    font-family: "Asap Regular", sans-serif;
    font-size: 3.9em;
    line-height: 1.23em;
}

.header-banner__title--primary {
    word-spacing: 7px;

    color: #f5c506;
}

@media all and (max-width: 320px) {
    .header-banner{
        padding: 0;
    }
    
    .header-banner__player {
        float: none;
        width: 100%;
        margin: 0;
    }

    .header-banner__title {
        display: none;
    }
}

/* @media all and (max-width: 1024px) {
    .header-navigation {
        margin: 0 1%;
    }

    .header-banner__player {
        width: 52%;
    }

    .header-banner__title {
        float: none;
        display: inline-block;
        width: 48%;
        font-size: 3.2em;
    }
} */
