.header-navigation {
    display: flex;
    flex-direction: row;

    padding: 3% 0;

    align-items: flex-end;
    justify-content: space-between;
}

@media all and (max-width: 640px) {

}

@media all and (max-width: 768px) {
    .header-navigation {
        align-items: stretch;
        padding: 0;
    }
}
