.header-navigation {
    display: flex;
    flex-direction: row;

    padding: 30px 0;

    align-items: flex-end;
    justify-content: space-between;
}

/* @media all and (max-width: 1024px) {
    .header-navigation {
        margin: 0 1%;
    }
} */
