.list {
    word-wrap: break-word;

    line-height: 1.7em;
}

.list__item {
    box-sizing: border-box;
    padding-bottom: 19px;

    list-style-type: disc;

    color: #f5c506;

    font-family: "Open Sans", sans-serif;
    font-size: 2.4em;
}

.list__item-content {
    vertical-align: top;

    color: #a9a9a7;

    font-size: 0.6em;
}
