@font-face {
    font-family: "Segoe WP N";
    font-weight: normal;
    font-style: normal;

    src: local("Segoe WP N"), url("../../fonts/Segoe/SegoeWPN.woff") format("woff");
}

.main-menu {
    background-color: rgba(245, 197, 6, 1);
    box-shadow: -4px -4px 0 rgba(245, 197, 6, 0.6), -8px -8px 0 rgba(245, 197, 6, 0.3);
}

.main-menu__tab {
    float: left;

    padding: 12px 20px;

    border-left: 1px solid rgba(220, 177, 5, 1);

    font-size: 1.1em;
}

.main-menu__tab:first-child {
    padding-left: 42px;

    border-left: none;
}

.main-menu__tab-name {
    text-transform: uppercase;

    color: rgba(167, 135, 8, 1);

    font-family: "Segoe WP N", sans-serif;
    font-weight: 500;
}
