@font-face {
    font-family: "Lucida Sans Italic";
    font-weight: normal;
    font-style: normal;

    src: url("../../fonts/Lucida Sans Italic/Lucida-Sans-Italic.tff") format("ttf");
}

@font-face {
    font-family: "LaoUI";
    font-weight: normal;
    font-style: normal;

    src: local("LaoUI"), url("../../fonts/LaoUI/LaoUI.tff") format("tff");
}

.primary-logo {
    color: #ffffff;
}

.primary-logo__link {
    display: flex;

    height: 100%;

    align-items: center;
}

.primary-logo__name {
    padding: 8px 0 0 4px;

    text-shadow: 1px 2px 2px #000000;

    font-family: "Lucida Sans Italic", sans-serif;
    font-size: 2.5em;
    font-style: italic;
}

.primary-logo__author {
    text-transform: uppercase;

    font-family: "LaoUI", sans-serif;
    font-size: 0.3em;
    font-style: normal;
}

.primary-logo--small .primary-logo__name {
    letter-spacing: 3px;

    font-size: 1.8em;
    font-stretch: condensed;
}

.primary-logo--small .primary-logo__image {
    width: 20%;
}

@media all and (max-width: 1020px) {
    .primary-logo__author {
        display: none;
    }
}

@media all and (max-width: 980px) {
    .primary-logo {
        font-size: 90%;
    }

    .primary-logo__image {
        width: 20%;
    }
}

@media all and (max-width: 768px) {
    .primary-logo {
        background: linear-gradient(#5a5a5a, #444444);
    }

    .primary-logo__link {
        justify-content: center;
    }

    .primary-logo--small {
        background: inherit;
    }

    .primary-logo__name {
        padding: 4px 0 0 2px;

        text-shadow: 1px 1px 1px #000000;

        font-size: 1.5em;
    }
}

@media all and (max-width: 640px) {
    .primary-logo {
        font-size: 70%;
    }

    .primary-logo__image {
        width: 20%;
    }

    .primary-logo--small .primary-logo__image {
        width: 15%;
    }
}

@media all and (max-width: 425px) {
    .primary-logo {
        font-size: 50%;
    }

    .primary-logo__image {
        width: 15%;
    }

    .primary-logo--small .primary-logo__image {
        width: 10%;
    }
}
