@font-face {
    font-family: "SegoeWP";
    font-weight: normal;
    font-style: normal;

    src: local("SegoeWP"), url("../../fonts/Segoe/SegoeWP.woff") format("woff");
}

.section-features {
    position: relative;

    background-color: #f2f2f2;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,0.2) 7px, rgba(255,255,255,0.2) 10px);
    background-size: 12px 12px;
    box-shadow: 0 1px 4px #ad9225, 0 -1px 4px #46361b;
}

.section-features__inner {
    display: table;

    width: 100%;
}

.section-features__item {
    display: table-cell;

    width: 33.33%;
    padding-top: 4%;

    text-align: center;
    vertical-align: bottom;

    border-left: 1px solid #d1d1d1;
}

.section-features__item:last-child {
    border-right: 1px solid #d1d1d1;
}

.section-features__item-name {
    margin: 4% 0 12%;

    text-transform: uppercase;

    color: #000000;

    font-family: "SegoeWP", sans-serif;
    font-size: 1.7em;
}

@media all and (max-width: 1020px) {
    .section-features .container {
        padding: 0;
    }
}

@media all and (max-width: 768px) {
    .section-features {
        box-shadow: 0 -4px 0 0 rgba(255, 255, 255, 0.6), 0 -6px 0 0 rgba(255, 255, 255, 0.3);
    }
}

@media all and (max-width: 640px) {
    .section-features {
        box-shadow: none;
    }

    .section-features__item {
        border: none;
    }
}
