@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;

    src: local("Open Sans"), url("../../fonts/OpenSans Regular/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Asap Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Asap Regular"), url("../../fonts/Asap Regular/Asap Regular.otf") format("opentype");
}

.section-benefits {
    box-sizing: border-box;
    padding: 2% 0 4%;

    background: linear-gradient(45deg, #4c4c4c 12%, transparent 0, transparent 88%, #4c4c4c 0),
    linear-gradient(135deg, transparent 37%, #4c4c4c 0, #474747 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #4c4c4c 0, #4c4c4c 63%, transparent 0) #474747;
    background-size: 12px 12px;
}

.section-benefits__inner {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.section-benefits__title {
    margin-bottom: 1%;

    text-align: center;
    word-spacing: 2px;
    text-transform: uppercase;

    color: #f5c506;

    font-family: "Asap Regular", sans-serif;
    font-size: 2.6em;
}

.section-benefits__image {
    width: 55%;
    height: 100%;
}

.section-benefits__list {
    box-sizing: border-box;
    width: 34%;
    padding: 8% 0 0;
}

@media all and (max-width: 320px) {
    .section-benefits__inner{
        padding: 0 3%;
    }

    .section-benefits__image {
        width: 100%;
    }

    .section-benefits__list {
        display: none;
    }
}
