@font-face {
    font-family: "SegoeWP";
    font-weight: normal;
    font-style: normal;

    src: local("SegoeWP"), url("../../fonts/Segoe/SegoeWP.woff") format("woff");
}
@font-face {
    font-family: "Asap Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Asap Regular"), url("../../fonts/Asap Regular/Asap Regular.otf") format("opentype");
}

.section-about-us {
    padding: 18px 0 165px;
    background: linear-gradient(33deg, #f7cf32 25%, rgba(255, 255, 255, 0) 25%) 93px 15px, linear-gradient(33deg, rgba(255, 255, 255, 0) 73%, #f7cf32 75%) 36px 51px, linear-gradient(33deg, rgba(255, 255, 255, 0) 75%, #f7cf32 75%) -23px 15px, linear-gradient(33deg, #f7cf32 25%, rgba(255, 255, 255, 0) 26%) 36px -20px;
    background-size: 117px 72px;
    background-color: #f7d445;
}

.section-about-us__title {
    margin: 20px 0 36px;

    text-transform: uppercase;

    color: #ffffff;

    font-family: "Asap Regular", sans-serif;
    font-size: 2.2em;

    flex-basis: 100%;
}

.section-about-us__video {
    display: inline-flex;

    max-height: 232px;

    background-color: #ec9e03;

    flex-basis: 655px;
}

.section-about-us__video-description,
.section-about-us__social {
    color: #ffffff;

    font-family: "SegoeWP", sans-serif;
    font-size: 1.7em;
}

.section-about-us__video-description {
    position: relative;

    padding: 20px 10px 0 30px;

    line-height: 38px;
}

.section-about-us__social {
    position: relative;

    display: flex;

    max-height: 232px;

    text-align: center;

    background-color: #ec9e03;

    align-items: center;
    flex-basis: 330px;
}

.section-about-us__social-count {
    position: absolute;
    top: 6%;
    left: 86%;
}

.section-about-us__social-twitter {
    text-align: center;

    font-size: 5em;

    flex-basis: 100%;
}

.section-about-us__social-plus {
    position: absolute;
    right: 10px;
    bottom: 13px;

    font-size: 10px;
}
