@font-face {
    font-family: "SegoeWP";
    font-weight: normal;
    font-style: normal;

    src: local("SegoeWP"), url("../../fonts/Segoe/SegoeWP.woff") format("woff");
}
@font-face {
    font-family: "Asap Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Asap Regular"), url("../../fonts/Asap Regular/Asap Regular.otf") format("opentype");
}

.section-about-us {
    overflow: hidden;

    padding: 17px 0 165px;

    background: linear-gradient(31deg, rgba(247, 207, 50, 1) 23%, rgba(255, 255, 255, 0) 25%) 54px 39px, linear-gradient(30deg, rgba(255, 255, 255, 0) 75%, rgba(247, 207, 50, 1) 75%) 54px 76px, linear-gradient(31deg, rgba(255, 255, 255, 0) 70%, rgba(247, 207, 50, 1) 75%) -33px 20px, linear-gradient(31deg, rgba(247, 207, 50, 1) 24%, rgba(255, 255, 255, 0) 25%) 82px 20px;
    background-color: #f7d445;
    background-size: 58px 37px;
}

.section-about-us__title {
    margin: 20px 0 39px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #ffffff;

    font-family: "Asap Regular", sans-serif;
    font-size: 2.2em;
}

.section-about-us__video {
    float: left;

    width: 64%;
}

.section-about-us__social {
    color: #ffffff;

    font-family: "SegoeWP", sans-serif;
    font-size: 1.7em;
}


.section-about-us__social {
    position: relative;

    float: right;

    box-sizing: border-box;
    width: 32%;
    padding: 60px 0 37px;

    text-align: center;

    background-color: #ec9e03;

    align-items: center;
}

.section-about-us__social-count {
    position: absolute;
    top: 14px;
    right: 17px;
}

.section-about-us__social-twitter {
    text-align: center;

    font-size: 5em;
}

.section-about-us__social-plus {
    position: absolute;
    right: 12px;
    bottom: 11px;

    font-size: 0.4em;
}
