@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;

    src: local("Open Sans"), url("../../fonts/OpenSans Regular/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Asap Regular";
    font-weight: normal;
    font-style: normal;

    src: local("Asap Regular"), url("../../fonts/Asap Regular/Asap Regular.otf") format("opentype");
}

.section-benefits {
    box-sizing: border-box;
    padding: 42px 0 78px;

    background: linear-gradient(45deg, rgba(76, 76, 76, 1) 12%, transparent 0, transparent 88%, rgba(76, 76, 76, 1) 0),
    linear-gradient(135deg, transparent 37%, rgba(76, 76, 76, 1) 0, rgba(71, 71, 71, 1) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, rgba(76, 76, 76, 1) 0, rgba(76, 76, 76, 1) 63%, transparent 0) rgba(71, 71, 71, 1);
    background-size: 12px 12px;
}

.section-benefits__inner {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.section-benefits__title {
    margin-bottom: 9px;

    text-align: center;
    word-spacing: 2px;
    text-transform: uppercase;

    color: rgba(245, 197, 6, 1);

    font-family: "Asap Regular", sans-serif;
    font-size: 2.6em;
}

.section-benefits__img {
    height: 100%;
}

.section-benefits__items-list {
    box-sizing: border-box;
    width: 34%;
    padding-top: 88px;

    word-wrap: break-word;

    line-height: 1.7em;
}

.section-benefits__item {
    box-sizing: border-box;
    padding-bottom: 19px;

    list-style-type: disc;

    color: rgba(245, 197, 6, 1);

    font-family: "Open Sans", sans-serif;
    font-size: 2.4em;
}

.section-benefits__item-text {
    vertical-align: top;

    color: rgba(169, 169, 167, 1);

    font-size: 0.6em;
}
