@font-face {
  font-family: 'SegoeWP';
  src: local('SegoeWP'), url('../../fonts/Segoe/SegoeWP.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

.section-features{
  background: url(../../images/section-features/section-features-background.jpg) no-repeat;
  background-size: cover;
}

.section-features__item {
  flex-grow: 1;
  flex-basis: 120px;
  text-align: center;
}

.section-features__item:nth-child(odd) {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }

.section-features__name {
  font-family: 'SegoeWP', sans-serif;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
}
