.social {
    position: relative;

    box-sizing: border-box;
    width: 32%;
    padding: 6% 3% 3.5% 3%;

    text-align: center;

    color: #ffffff;
    background-color: #ec9e03;

    font-family: "SegoeWP", sans-serif;
    font-size: 1.7em;

    align-items: center;
}

.social__counter {
    position: absolute;
    top: 14px;
    right: 17px;
}

.social__twitter {
    text-align: center;

    font-size: 5em;
}

.social__plus {
    position: absolute;
    right: 11px;
    bottom: 12px;

    font-size: 0.4em;
}

@media all and (max-width: 768px) {
    .social {
        background-color: #f5c507;
    }

    .social__twitter {
        color: #c28401;
    }
}

@media all and (max-width: 320px) {
    .social__counter {
        display: none;
    }
    .social__plus {
        display: none;
    }
}
