.video {
    display: flex;

    box-sizing: border-box;
}

.video__description {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 51%;
    padding: 15px 32px 8px;

    overflow-wrap: break-word;

    color: #ffffff;
    background-color: #ec9e03;

    font-family: "SegoeWP", sans-serif;
    font-size: 1.7em;
    line-height: 1.4em;
}

.video__player {
    width: 49%;

    align-self: flex-start;
}

.video__plus {
    position: absolute;
    right: 12px;
    bottom: 11px;

    font-size: 0.4em;
}

@media all and (max-width: 768px) {
    .video {
        width: 100%;
    }
}

@media all and (max-width: 425px) {
    .video__description {
        padding: 10px 16px 8px;
    }
}


@media all and (max-width: 320px) {
    .video {
        margin: 10px;
    }

    .video__description {
        margin-right: 10px;
    }
}
